.header {
  grid-area: h;
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header img {
  width: 20px;
}
.loginBlock {
  float: right;
  font-weight: 700;
  font-size: 24px;
}
